{% extends "layout.html" %}
{% block content %}
<p >This is an application that allows users to sign in or sign up and post one minute pitches.It also allows the to upvote and downvote on different pitches.
Comment on the different pitches posted py other uses.<br>
 See the pitches posted by other uses.
 <br>Vote on s pitch they have viwed by giving it a upvote or a downvote.
 Register to be allowed to log in to the application
 <br>View pitches from the different categories.
 Submit a pitch to a specific category of their choice.</p>
{% endblock content %}